@model List<LimpArea>

<div class="content">
    <h3>Bienvenido, Nelson </h3>
    <p>Fecha y hora actual: <span id="fechaHoraActual"></span></p>
    <h5 class="mb-2">Tipos de formularios</h5>
    <div class="row">
        @foreach (var area in Model)
        {
            <div class="col-md-4">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Areas</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" action="@Url.Action("Index","Responsable")">
                            <input type="hidden" name="codArea" value="@area.CodArea" />
                            <button type="submit" style="border: none; background: none; padding: 0; margin: 0; cursor: pointer; font: inherit;">@Html.DisplayFor(m => area.Descripcion)</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>

    <!-- Mostrar la fecha y hora actual -->
    
</div>
<script>
    // Función para mostrar la fecha y hora actual
    function mostrarFechaHoraActual() {
        var fechaHora = new Date();
        var elementoFechaHora = document.getElementById("fechaHoraActual");
        elementoFechaHora.textContent = fechaHora.toLocaleString();
    }

    // Actualizar la fecha y hora cada segundo
    setInterval(mostrarFechaHoraActual, 1000);

    // Mostrar la fecha y hora actual al cargar la página
    mostrarFechaHoraActual();
</script>
