<footer>
    <!-- To the right -->
    <div class="float-right d-sm-inline">
        <p>Software developer : Nelson Molina</p>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2023 <a href="https://vita.com.ec/">Vita Alimentos</a>.</strong> Todos los derechos reservados.
  </footer>