<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Software developer : Nelson Molina
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 20223 <a href="https://vita.com.ec/">Vita Alimentos</a>.</strong> Todos los derechos reservados.
  </footer>