<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LimpiezaProyect</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css">
    <!-- jsGrid -->
    <link rel="stylesheet" href="~/adminlte/plugins/jsgrid/jsgrid.min.css">
    <link rel="stylesheet" href="~/adminlte/plugins/jsgrid/jsgrid-theme.min.css">
    @RenderSection("Styles",required:false)
</head>
<body>
    <partial name="_Navbar"/>

    <partial name="_Sidebar" />
    <div class="content-wrapper">
        <div class="content">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    <partial name="_Footer" />

    <!-- jQuery -->
    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>
    <!-- jsGrid -->
    <script src="~/adminlte/plugins/jsgrid/demos/db.js"></script>
    <script src="~/adminlte/plugins/jsgrid/jsgrid.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
<script>
    var botonVisible = true; // Variable para rastrear el estado del botón

    function mostrarFechaHoraActual() {
        var fechaHora = new Date();
        var elementoFechaHora = document.getElementById("fechaHoraActual");
        elementoFechaHora.textContent = fechaHora.toLocaleString();
    }

    setInterval(mostrarFechaHoraActual, 1000);
    mostrarFechaHoraActual();
</script>