<!-- Navbar -->
<nav class="navbar navbar-expand navbar-white navbar-light w-100 " style="background-color: #F2F3F4;">
    <!-- Left navbar links -->
    <ul class="nav">
        <li class="nav-item">
            
        </li>
    </ul>
    <form method="post" action="@Url.Action("Index", "Inicio")">
        <a href="#" class="nav-link mr-auto" onclick="this.closest('form').submit(); return false;">Inicio</a>
    </form>



    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Mostrar datos de TempData["User"] en el navbar -->
        
        <li class="nav-item">
            <a href="http://192.168.0.38:9094" class="nav-link mr-auto"> <strong>Cerrar sesión</strong> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->