@model List<LimpFormulario>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tabla de formularios</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>Codigo</td>
                            <td>Actividades</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var formularios in Model)
                        {
                            <form method="post" action="@Url.Action("index","ActividadResponsable")">
                                <input type="hidden" name="CodFormulario" value="@formularios.CodFormulario" />
                            <tr>
                                <td>@Html.DisplayFor(m=>formularios.Descripcion)</td>
                                <td>@Html.DisplayFor(m=>formularios.CodFormulario)</td>
                                <td>
                                    <button type="submit" class="btn btn-primary">Ver</button>
                                    <button type="button" class="btn btn-primary">Eliminar</button>
                                    <button type="button" class="btn btn-primary">Cerrar</button>                                  
                                </td>
                            </tr>

                            </form>
                            
                        }
                        
                    </tbody>
                </table>
                
            </div>
            <!-- /.card-body -->
            
        </div>
        <!-- /.card -->
        <div class="text-center mt-3">
            <button type="button" class="btn btn-danger">Añadir</button>
        </div>
    </div>

</div>
