@model List<LimpiezaProyect.Models.LimpRegistroDetalle>

<!DOCTYPE html>
<html>
<head>
    <img src="~/img/Vita.jpg" alt="Empresa Logo" style="width: 200px; height: 100px;">
    <h1>Informe de Actividades</h1>

    <p>Responsable del informe: Nombre del Responsable</p>
    <p>Código del Formulario: Código del Formulario</p>
    <p>Descripción: Descripción del Informe</p>

</head>
<body>
   
    <table>
        <tr>
            <th>Actividad</th>
            <th>Estado</th>
            <th>Responsable</th>
            <th>Turno</th>
        </tr>
        <tr>
            <td>Actividad 1</td>
            <td>Realizada</td>
            <td>Nombre del Responsable 1</td>
            <td>Mañana</td>
        </tr>
        <tr>
            <td>Actividad 2</td>
            <td>Pendiente</td>
            <td>Nombre del Responsable 2</td>
            <td>Tarde</td>
        </tr>
        <!-- Agregar más filas según sea necesario -->
    </table>
</body>
</html>
